.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1120px;
  margin:5% auto;
  @media screen and (max-width: 1120px) {
    width: 100%;
    padding: 0 25px;
    flex-wrap: wrap;
  }
  @media screen and (max-width: 480px) {
    padding: 0;
    margin: 0;
  }
  &__wrap{
    width: 100%;
    padding: 30px 0px;
    box-sizing: border-box;
    display: flex;
    background: url(../../img/2-layers.png) no-repeat center center;
    background-size: cover;
    @media screen and (max-width: 480px) {
      padding: 0;
      background: none;
    }
  }
  &__text {
    width:45%;
    @media screen and (max-width: 1120px) {
      width: 100% !important;
      margin-bottom: 64px;
    }
    @media screen and (max-width: 768px) {
      text-align: center;
    }
    @media screen and (max-width: 480px) {
      padding: 0 25px;
      background: url(../../img/2-layers.png) no-repeat center center;
      background-size: cover;
      padding-bottom: 64px;
      margin-bottom: 0;
      padding-top: 35px;
    }
    &-btn {
      $values: (fs: 15px, lh: 13px, ls: 0.6px, bg: #ffcc01, clr: black);
      @include btn($values...);
      border: 1px solid #202428;
      margin-top:20px;
      width:257px;
      height:54px;
      min-width: 257px;
      padding: 20px;
      display: block;
      outline: none;
      @media screen and (max-width: 768px) {
        text-align: center;
        margin: 0 auto;
        font-size: 14px;
      }
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
  &__item {
    width:50%;
    @media screen and (max-width: 1120px) {
      width: 100%;
    }
    &-h1 {
      color:white;
      font-size: 50px;
      font-weight: 700;
      @media screen and (max-width: 480px) {
        font-size: 32px;
      }
    }
    &-h3 {
      color:white;
      font-size: 20px;
      font-weight: 500;
      line-height: 31px;
      @media screen and (max-width: 480px) {
        font-size: 18px;
      }
    }
    &-p {
      color:#bfbfbf;
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
    }
    &__forms {
      display: flex;
      flex-direction: column;
      background: white;
      padding:5%;
      &__check {
        display: flex;
        flex-direction: column;
        margin:5% 0;
        &-box {
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 1120px) {
            align-items: center;
          }
          &-checkbox {
            width:32px;
            height:32px;
            border: 1px solid #bfbfbf;
            margin:5px;
          }
          &-label {
            width:412px;
            color:#202428;
            font-size: 14px;
            font-weight: 600;
            line-height: 1.5;
            margin:5px 0;
            @media screen and (max-width: 1120px) {
              width: 100%;
            }
          }
        }
      }
      &__form {
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media screen and (max-width: 1120px) {
          justify-content: space-between;
        }
        &-input {
          box-shadow: inset 0 -2px 0 #5c6268;
          background-color: #ffffff;
          width:230px;
          height:56px;
          margin: 10px ;
          outline: none;
          border:none;
          @media screen and (max-width: 1120px) {
            width: 100%;
          }
          @media screen and (max-width: 768px) {
            margin: 10px 0;
          }
        }
        &-label {
          width:145px;
          height:32px;
          color:#bfbfbf;
          font-size: 18px;
          font-weight: 500;
          line-height: 32px;
          transition: .5s;
          margin-top:-50px;
          margin-left:10px;
        }
        &__div {
          display: flex;
          flex-direction: column;
          @media screen and (max-width: 1120px) {
            width: 48%;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
      }
  }
}
  &-btn {
    $values: (fs: 15px, lh: 13px, ls: 0.6px, bg: #202428, clr: white);
    @include btn($values...);
    border: 1px solid #202428;
    margin: 0;
    width:200px;
    min-width: 200px;
    padding: 20px 40px;
    display: block;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: 480px) {
      margin-bottom: 20px;
    }
  }
}
.form-input-wrapper {
  position: relative;
  width: 49%;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.position{
  position:absolute;
  margin: 0;
  left: 10px;
  top: 23px;
  width: 200px;
}
option{
  width: 100px;
}
.form__select-option{
  width: 230px;
  @media screen and (max-width: 1120px) {
    width: 49%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.form__item__forms__form-input:focus~.position,
.form__item__forms__form-input:not(:focus):valid~.position {
  top: -2px;
  font-size: 14px;
  padding: 0 4px;
}
.open-select{
  width: 230px;
  color:#bfbfbf;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  @media screen and (max-width: 1120px) {
    width: 49%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
