.header{
  width: 1120px;
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
  align-items: center;
  @media screen and (max-width: 1120px) {
    width: 100%;
    padding: 31px 24px;
  }
  @media screen  and (max-width: 768px){
    padding: 28px 25px;
  }
  &-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #202428;
  }
 
  &-menu{
    display: flex;
    align-items: center;
    @media screen  and (max-width: 768px){
      display: none;
    }
    &__item{
      color: #fffffe;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.3px;
      margin-right: 24px;
      a{
        text-decoration: none;
        color: #fffffe;
      }
      &:nth-child(3){
        margin-right: 0;
      }
      button{
        color: #fffffe;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.3px;
        border: 1px solid #ffce01;
        background: none;
        padding: 0 18px;
        outline: none;
        cursor: pointer;
        height: 40px;
      }
    }
  }
  &-gumburger{
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      cursor: pointer;
      padding: 12px 0;
    }
    span{
      position: relative;
      display: block;
      width: 28px;
      height: 2px;
      background-color: #ffffff;
      transition: all .2s ease-in-out;
      &:after{
        position: absolute;
        content: '';
        width: 28px;
        height: 2px;
        background-color: #ffffff;
        transition: all .2s ease-in-out;
        top: 8px;
      }
      &:before{
        position: absolute;
        content: '';
        width: 28px;
        height: 2px;
        top: -8px;
        background-color: #ffffff;
        transition: all .2s ease-in-out;
      }
    }
  }
}