.phones{
  width: 1120px;
  display: flex;
  @media screen and (max-width: 1120px) {
    width: 100%;
    padding: 0 25px;
  }
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  &-wrapper{
    background-color: #f6f8f9;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 247px 0 167px 0;
    @media screen and (max-width: 768px) {
      padding: 43px 0 48px 0;
    }
  }
  &-img{
    width: 40%;
    margin-right: 122px;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-right: 0;
    }
    img{
      width: 100%;
    }
  }
  &-about{
    width: 42%;
    margin-top: 81px;
    @media screen and (max-width: 768px) {
      margin-top: 0px;
      width: 100%;
      text-align: center;
    }
    &__title{
      color: #202428;
      font-size: 50px;
      font-weight: 700;
      @media screen and (max-width: 480px) {
        font-size: 32px;
        margin-top: 17px;
      }
    }
    &__text{
      margin-top: 19px;
      color: #202428;
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
      @media screen and (max-width: 480px) {
        line-height: 31px;
      }
    }
    &__par{
      margin-top: 31px;
      width: 95%;
      color: #5c6268;
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      @media screen and (max-width: 480px) {
        margin-top: 46px;
        padding: 0 16px;
        box-sizing: border-box;
      }
    }
    &__btn{
      margin-top: 41px;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
      @media screen and (max-width: 480px) {
        margin-top: 30px;
      }
      button{
        $values: (fs: 14px, lh: 13px, ls: 0.5px, bg: #202428, clr: #feffff);
        @include btn($values...);
        @media screen and (max-width: 768px) {
          margin: 0 auto;
        }
        @media screen and (max-width: 480px) {
          width: 100%;
        }
      }
    }
  }
}
