.banner-wrapper
  .banner
    .banner-text
      .banner-text__title Um novo conceito de learning experience chegou ao Brasil
      .banner-text__about Empresas que investem no aprendizado e no crescimento profissional dos seus colaboradores são mais rentáveis.
      .banner-text__par Nossa plataforma engaja seus funcionários no processo de aprendizagem, focando no desenvolvimento contínuo e na curadoria de conteúdos
      div(class="banner-text__par banner-text__par-close") Fonte: Pesquisa Gallup 2017
      .banner-text__btn
        form(action="/form")
          button SAIBA MAIS
    .banner-img
      img(src="../img/Bitmap.png", alt="")
  include ./quote.pug