.form__wrap
  .form
    div(class="form__text")
      h1.form__item-h1 Quer contratar ou indicar a'esens para sua empresa?
      h3.form__item-h3 Leve 'esens para sua empresa e seus colegas de trabalho e descubra como compartilhar conhecimento pode trazer benefícios para você também.
      p.form__item-p Mande sua mensagem agora mesmo e entre para um novo mundo de aprendizado.
      button(class="js-modal-btn form__text-btn" data-video-id="XJS_UYNq4No" onclick="video()") &#9658; CONHEÇA A ESENS
    .form__item
      form.form__item__forms
        .form__item__forms__form
  
            .form-input-wrapper(id="form_name")
              input(type="text" name="name" id="name" required="reqired").form__item__forms__form-input
              label(for="name" class="form__item__forms__form-label position") Seu nome
            .form-input-wrapper(id="form_email")
              input(type="text" name="surname"  id="surname" required="reqired").form__item__forms__form-input
              label(for="surname" class="form__item__forms__form-label position") Sobrenome
            .form-input-wrapper(id="form_cargo")
              input(type="text" name="email" id="email" required="reqired").form__item__forms__form-input
              label(for="email" class="form__item__forms__form-label position") Email corporativo                
            .form-input-wrapper(id="form_telephone")
              input(type="text" name="nomeda"  id="nomeda" required="reqired").form__item__forms__form-input
              label(for="nomeda" class="form__item__forms__form-label position") Nome da empresa             
            .form-input-wrapper(id="form_surname")
              input(type="text" name="cargo" id="cargo" required="reqired").form__item__forms__form-input
              label(for="cargo" class="form__item__forms__form-label position") Cargo
            .form-input-wrapper(id="form_nomeda")
              input(type="text" name="deportamento"  id="deportamento" required="reqired").form__item__forms__form-input
              label(for="deportamento" class="form__item__forms__form-label position") Deportamento 
            .form-input-wrapper(id="form_deportamento")
              input(type="text" name="telephone"  id="telephone" required="reqired").form__item__forms__form-input
              label(for="telephone" class="form__item__forms__form-label position") Telephone            
            .form-input-wrapper(id="form_estado")
              input(type="text" name="estado" id="estado" required="reqired").form__item__forms__form-input
              label(for="estado" class="form__item__forms__form-label position") Estado
            .form-input-wrapper(id="form_estado")  
              select(name="numero" class="form__item__forms__form-input open-select")
                option( class="form__select-option") Numero de
              //- label(for="numero" ).form__item__forms__form-label Numero de  
        .form__item__forms__check
          .form__item__forms__check-box
            input(type="checkbox" name="check1" id="check1").form__item__forms__check-box-checkbox 
            label(for="check1").form__item__forms__check-box-label Confirmo que as informações que compartilhei são verdadeiras
          .form__item__forms__check-box 
            input(type="checkbox" name="check2" id="check2").form__item__forms__check-box-checkbox 
            label(for="check2").form__item__forms__check-box-label Permito que a Esens processe e armazene os meus dados
        button(type="submit").form-btn Enviar
  
        
        

