.impacto-wrapper
  .impacto
    .impacto-text
      h1 Impacto na saúde e no bem-estar
      p Benefícios que a leitura traz à saúde mental:
      .impacto-list
        .impacto-item
          .impacto-item__number 01
          div(class="impacto-item__name impacto-item__name--small") Redução de estresse
          .impacto-item__text Segundo pesquisa da University of Sussex, 6 minutos de leitura diária, reduzem até 68% do estresse
        div(class="impacto-item impacto-item--small")
          .impacto-item__number 02
          .impacto-item__name Desenvolvimento da criatividade
          .impacto-item__text A leitura promove no cérebro, <br>a capacidade de se envolver em contextos e histórias 
        .impacto-item
          .impacto-item__number 03
          div(class="impacto-item__name impacto-item__name--nametr") Aumenta a empatia e o espírito de equipe
          div(class="impacto-item__text impacto-item__text--nametr") Estudo publicado na revista Psychology Today provou que o hábito de ler aumenta a capacidade de sentir empatia e entendemos<br>o que é estar no lugar do outro.
        .impacto-item
          .impacto-item__number 04
          .impacto-item__name A leitura é o treino<br>do cerébro
          div(class="impacto-item__text impacto-item__text--mar") Ler é a única maneira de fortalecer a mente e aumentar a capacidade de aprendizado do cérebro.
    .impacto-img
      img(src="../img/impacto_photo.png")
      p 9 em cada 10 trabalhadores no mundo apresentam sintomas de ansiedade.
      p International Stress Management Association.
  .impacto-btn
    button SAIBA MAIS
  .impacto-fense 
    img(src="../img/fense.png", alt="")
  include ./ajude.pug