.phones-wrapper
  .phones
    .phones-img
      img(src="../../img/screen1.png")
    .phones-about
      .phones-about__title A 'esens
      .phones-about__text Atraves da nossa plataforma, baseada no conceito de design instrucional, ofecemos aos nossos clientes conteudos compactos e ordenados de acordo com sua necessidade de desenvolvimento.
      .phones-about__par Saiba como desenvolver lideranças e criar um ambiente de inovação, colaboração e empatia.
      .phones-about__btn
        form(action="/form")
          button Saiba mais
