.quote-wrapper
  .quote
    .quote-img
      img(src="../img/quote.png", alt="")
    .quote-article
      .quote-article__text As empresas precisam trocar os modelos hierárquicos e pouco participativos, por uma liderança distribuída, inclusiva e colaborativa.
      .quote-article__title Fonte: Pesquisa Carreira dos Sonhos, 2018
    .quote-btn
      button 
        a(href='https://medium.com/@esensapp') LEIA O ARTIGO