.seja-wrapper
  .seja
    .seja-title
      h1 Seja Um Parceiro ‘esens
      p Entenda as vantagens de fazer parte dessa evolução no aprendizado.
    .seja-list
      .seja-item
        .seja-item__img
          img(src="../img/Clock.svg")
        .seja-item__name Controle o conteudo
        .seja-item__text Direcione conteudo por area, cargo, OKR's ou projetos
      .seja-item
        .seja-item__img
          img(src="../img/Headphones.svg")
        .seja-item__name Sua empresa mais competitiva
        div( class="seja-item__text seja-item__text--small") Potencialize os rezultados do seu programa de literança dando acesso ao conteúdo certo na hora certa
      .seja-item
        .seja-item__img
          img(src="../img/Book.svg")
        .seja-item__name Crie um ambiente de bem-estar e inovação
        div( class="seja-item__text seja-item__text--last") Reduza o estresse de seus functionarios por meio do estimulo da leitura. Estudos comprovam que 6 minutos de leitura reduzem ate 68% do estresse