<!DOCTYPE html>
html(lang="en")
  head
    include ../components/head.pug
  body
    include ../components/header.pug
    include ../components/banner.pug
    include ../components/phones.pug
    include ../components/seja.pug
    include ../components/impacto.pug
    include ../components/footer.pug